body .toast{
    background-color: #f5c388;
    border: none;
    border-radius: 7px;
    margin-right: 33px;
    color: white;
    font-size: 14px;
    padding-inline: 10px;
    width: fit-content;
}

.check_icon{
    background: url('../images/spritesheet.png') -1px -83px;
    display: inline-block;
	height: 11px;
    margin-right: 10px;
	width: 14px;
}